nav{
    background-color: #1A4D2E;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    .navSol{
        padding-left: 50px;
        display: flex;
        align-items: center;
        .navH{
            text-decoration: none;
            padding: 5px 10px;
            color: white;
            font-size: 25px;
        }
    }
    .navSag{
        display: flex;
        align-items: center;
        p{
            padding: 5px 20px;
            font-size: 25px;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
                text-decoration: scale(1.2);
            }
        }
    }
    .navSagSag{
        display: flex;
        align-items: center;
        justify-content: end;
        .navP{
            text-decoration: none;
            padding: 5px 20px 5px 20px;
            font-size: 25px;
            &:hover{
                text-decoration: underline;
                text-decoration: scale(1.2);
            }
        }
        
    }
}
.active{
    color: greenyellow;
}