nav{
    background-color: #131842;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    
    .liste{
        list-style: none;
        display: flex;
        align-items: center;
        gap: 25px;
        li{
            transition: .5s;
            cursor: pointer;
            &:hover{
                color: #E68369;
                text-decoration: underline;
                transform: scale(1.2);
            }
        }
    }
}