form{
    background-color: #8d5631;
    width: 350px;
    padding: 15px;
    margin: 30px auto;
    border-radius: 15px;
    text-align: center;
    color: white;

    input,select,textarea{
        display: block;
        width: 100%;
        margin-bottom: 15px;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid rgb(179, 149, 149);
    }
    textarea{
        height: 120px;
    }
    input[type="submit"]{
        width: 40%;
        position: relative;
        left: 190px;
        padding: 10px;
        cursor: pointer;
        transition: 0.5s;
        &:hover{
            background-color: #1A4D2E;
            color: white;
        }
    }
}